*, *::after, *::before
{
    margin: 0;
    padding: 0;
    font-family: 'Pirata One', cursive;
    box-sizing: border-box;
}
.title {
    color: azure;
    font-size: 11rem;
}
.splash-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(30,87,153,1) 4%, rgba(54,112,173,1) 23%, rgba(125,185,232,1) 80%, rgba(125,185,232,1) 89%, rgba(125,185,232,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(30,87,153,1) 4%,rgba(54,112,173,1) 23%,rgba(125,185,232,1) 80%,rgba(125,185,232,1) 89%,rgba(125,185,232,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(30,87,153,1) 4%,rgba(54,112,173,1) 23%,rgba(125,185,232,1) 80%,rgba(125,185,232,1) 89%,rgba(125,185,232,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
.column {
    float: left;
    width: 50%;
    height: 70vh;
    flex-flow: column;
}
.column:hover {
    box-shadow: inset 0 0 300px 300px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.row {
    display: flex;
}
.container1 {
    text-align: center;
    position: relative;
    color: azure;
    top: 50%;
    transform: translateY(-50%);
    font-size: 8rem;
}
#singlePlayer {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,111111+60,2b2b2b+76,1c1c1c+91,131313+100 */
background: #4c4c4c; /* Old browsers */
background: -moz-linear-gradient(top,  #4c4c4c 0%, #595959 12%, #666666 25%, #474747 39%, #2c2c2c 50%, #111111 60%, #2b2b2b 76%, #1c1c1c 91%, #131313 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #4c4c4c 0%,#595959 12%,#666666 25%,#474747 39%,#2c2c2c 50%,#111111 60%,#2b2b2b 76%,#1c1c1c 91%,#131313 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
}
#multiPlayer {
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,8c3310+0,bf6e4e+90 */
background: rgb(240,183,161); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(240,183,161,1) 0%, rgba(140,51,16,1) 0%, rgba(191,110,78,1) 90%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 0%,rgba(191,110,78,1) 90%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(240,183,161,1) 0%,rgba(140,51,16,1) 0%,rgba(191,110,78,1) 90%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#bf6e4e',GradientType=0 ); /* IE6-9 */
}